# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Gradle (si usas, aunque tú usas Maven, por si acaso)
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Maven / Java
target/
*.jar
*.war

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Env files
.env

src/main/resources/application.properties

